* {
  margin: 0;
  border:0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: rgb(243, 243, 243);
}

.instagram-wrapper {
  display: flex; 
  align-items: center;
  justify-content: start;
  width: 75%;
  height: 100vh;
}

.instagram-phone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.instagram-phone img { height: 50rem; }

.instagram-continue {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  min-height: 34rem;
}

.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 100%;
  border: 1px solid lightgray;
  padding: 1.27rem 0;
}

.group:nth-child(1) { min-height: 19rem; }

.inst-logo { height: 7rem; }

.profile-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 1rem;
}

.profile-photo img { height: 6rem; }

.inst-login {
  background-color: #0095f6;
  color: white;
  padding: 10px;
  border-radius: 4px;
  margin-top: 1rem;
}

.inst-logout {
  color: #0095f6;
  padding: 10px;
  margin-top: 0.3rem; 
}

.not-account:nth-child(1) { 
  color: rgb(160, 160, 160); 
  padding: 10px;
}

.link-blue { color: #0095f6; }

.get-the-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.3rem 0;
}
 
.get-app { margin-bottom: 1rem; }

.download {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1rem;
}

.app-down {
  height: 3rem;
  width: 10rem;
  background-size: cover;
}

.app-down:nth-child(1) { background-image: url(./img/apple-img-down.png); }
.app-down:nth-child(2) { background-image: url(./img/google-img-down.png); }

/* other screen sizes */
@media (max-width: 1024px) {
  .instagram-wrapper { width: 90%; }
}

@media (max-width: 650px) {
  body { background-color: white; }
  .instagram-wrapper { width: 90%; }
  .instagram-phone { display: none; }
  .instagram-continue { width: 100%; }
  .group {
    border: 1px solid transparent;
  }
}